In [4]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import fix_yahoo_finance as yf
import datetime
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader.data as web

In [2]:
stock_price=[]

#datetime.datetime is a data type within the datetime module
# end day is today
today = datetime.datetime.today()
# start day is last business day
shift = datetime.timedelta(max(1,(today.weekday() + 6) % 7 - 3))
lastBusDay = today - shift

stocks = ["SP=F", "TSLA", "GOOG", "AAPL", "AMZN", "FB", "MSFT"]

for stock in stocks:
    price = web.DataReader(stock, 'yahoo', lastBusDay, today)
    price['Stock'] = stock
    stock_price.append(price)
    
stock_price

[                   Open         High          Low        Close    Adj Close  \
 Date
 2018-08-03  2828.199951  2835.000000  2826.899902  2828.600098  2828.600098
 2018-08-05  2842.199951  2842.199951  2842.199951  2842.199951  2842.199951
 2018-08-06  2843.000000  2843.000000  2837.500000  2837.699951  2837.699951

             Volume Stock
 Date
 2018-08-03     101  SP=F
 2018-08-05       1  SP=F
 2018-08-06     181  SP=F  ,
                   Open        High         Low       Close   Adj Close  \
 Date
 2018-08-03  347.809998  355.000000  342.529999  348.170013  348.170013
 2018-08-06  345.459991  354.980011  341.829987  341.989990  341.989990

               Volume Stock
 Date
 2018-08-03  13651600  TSLA
 2018-08-06   8382200  TSLA  ,
                    Open         High          Low        Close    Adj Close  \
 Date
 2018-08-03  1229.619995  1230.000000  1215.060059  1223.709961  1223.709961
 2018-08-06  1225.000000  1225.780029  1215.849976  1224.770020  1224.770020

              Volume Stock
 Date
 2018-08-03  1089600  GOOG
 2018-08-06   978487  GOOG  ,
                   Open        High         Low       Close   Adj Close  \
 Date
 2018-08-03  207.029999  208.740005  205.479996  207.990005  207.990005
 2018-08-06  208.000000  209.250000  207.070007  209.070007  209.070007

               Volume Stock
 Date
 2018-08-03  33428200  AAPL
 2018-08-06  23132701  AAPL  ,
                    Open     High          Low        Close    Adj Close  \
 Date
 2018-08-03  1837.739990  1841.00  1821.500000  1823.290039  1823.290039
 2018-08-06  1825.810059  1847.75  1818.920044  1847.750000  1847.750000

              Volume Stock
 Date
 2018-08-03  3458500  AMZN
 2018-08-06  3165190  AMZN  ,
                   Open        High         Low       Close   Adj Close  \
 Date
 2018-08-03  177.690002  178.850006  176.149994  177.779999  177.779999
 2018-08-06  178.970001  185.789993  178.380005  185.690002  185.690002

               Volume Stock
 Date
 2018-08-03  24746100    FB
 2018-08-06  47563533    FB  ,
                   Open        High         Low       Close   Adj Close  \
 Date
 2018-08-03  107.800003  108.050003  106.820000  108.040001  108.040001
 2018-08-06  108.120003  108.419998  107.558998  108.129997  108.129997

               Volume Stock
 Date
 2018-08-03  18656200  MSFT
 2018-08-06  11994900  MSFT  ]

/Users/shuanghao/Library/Enthought/Canopy/edm/envs/User/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2018-08-06 16:55:03.378238. Please add timezone info to timestamps.
  chunks = self.iterencode(o, _one_shot=True)

In [5]:
df = pd.DataFrame(stock_price)
df

                                                   0
0                     Open         High          ...
1                    Open        High         Low...
2                     Open         High          ...
3                    Open        High         Low...
4                     Open     High          Low ...
5                    Open        High         Low...
6                    Open        High         Low...

In [ ]:
stock_price.to_csv('stock price.csv')

In [17]:
SP = web.DataReader('SP=F', 'yahoo', lastBusDay, today)
SP['Stock']="SP"
SP

,Open,High,Low,Close,Adj Close,Volume,Stock
Date,,,,,,,
2018-08-03,2828.199951,2835.000000,2826.899902,2828.600098,2828.600098,101,SP
2018-08-05,2842.199951,2842.199951,2842.199951,2842.199951,2842.199951,1,SP
2018-08-06,2843.000000,2843.000000,2837.500000,2837.699951,2837.699951,181,SP

In [18]:
TSLA = web.DataReader('TSLA', 'yahoo', lastBusDay, today)
TSLA['Stock']="TSLA"
TSLA

,Open,High,Low,Close,Adj Close,Volume,Stock
Date,,,,,,,
2018-08-03,347.809998,355.000000,342.529999,348.170013,348.170013,13656500,TSLA
2018-08-06,345.459991,354.980011,341.820007,341.989990,341.989990,8542200,TSLA

In [19]:
GOOG = web.DataReader('GOOG', 'yahoo', lastBusDay, today)
GOOG['Stock']="GOOG"
GOOG

,Open,High,Low,Close,Adj Close,Volume,Stock
Date,,,,,,,
2018-08-03,1229.619995,1230.000000,1215.060059,1223.709961,1223.709961,1089600,GOOG
2018-08-06,1225.000000,1226.088013,1215.796997,1224.770020,1224.770020,1081100,GOOG

In [20]:
AAPL = web.DataReader('AAPL', 'yahoo', lastBusDay, today)
AAPL['Stock']="AAPL"
AAPL

,Open,High,Low,Close,Adj Close,Volume,Stock
Date,,,,,,,
2018-08-03,207.029999,208.740005,205.479996,207.990005,207.990005,33447400,AAPL
2018-08-06,208.000000,209.250000,207.070007,209.070007,209.070007,25398800,AAPL

In [21]:
FB = web.DataReader('FB', 'yahoo', lastBusDay, today)
FB['Stock']="FB"
FB

,Open,High,Low,Close,Adj Close,Volume,Stock
Date,,,,,,,
2018-08-03,177.690002,178.850006,176.149994,177.779999,177.779999,24763400,FB
2018-08-06,178.970001,185.789993,178.380005,185.690002,185.690002,49645300,FB

In [22]:
MSFT = web.DataReader('MSFT', 'yahoo', lastBusDay, today)
MSFT['Stock']="MSFT"
MSFT

,Open,High,Low,Close,Adj Close,Volume,Stock
Date,,,,,,,
2018-08-03,107.800003,108.050003,106.820000,108.040001,108.040001,18659600,MSFT
2018-08-06,108.120003,108.419998,107.559998,108.129997,108.129997,20261500,MSFT

In [23]:
AAPL.columns

Index([u'Open', u'High', u'Low', u'Close', u'Adj Close', u'Volume', u'Stock'], dtype='object')

In [87]:
today

datetime.datetime(2018, 8, 6, 16, 28, 5, 53060)

In [88]:
today.isoformat()

'2018-08-06T16:28:05.053060'

In [16]:
MSFT['Open']

Date
2018-08-03    107.800003
2018-08-06    108.120003
Name: Open, dtype: float64