In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import fix_yahoo_finance as yf
import datetime
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader.data as web
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [2]:
# end day is today
today = datetime.datetime.today()
today.strftime('%Y-%m-%d')

# start day is 5 business days ago
US_BUSINESS_DAY = CustomBusinessDay(calendar=USFederalHolidayCalendar())
lastBusDay = today - 6 * US_BUSINESS_DAY
lastBusDay.strftime('%Y-%m-%d')

'2018-08-15'

# SP

In [3]:
# get stock price of today and last five business days
SP = web.DataReader('^GSPC', 'yahoo', lastBusDay, today)
SP['Trade Date'] = ['T-5', 'T-4', 'T-3', 'T-2', 'T-1', 'T-0']
SP['Stock'] = "SP"
SP = SP.iloc[::-1]
# generate dollar value of movement between adjacent business days
SP['Mov $'] = round(-SP['Adj Close'].diff().shift(-1), 2)
# generate percentage of movement between adjacent business days
SP['Mov %'] = SP['Mov $']/SP['Adj Close'].shift(-1)
SP['Mov %'] = pd.Series(["{0:.2f}%".format(X * 100) for X in SP['Mov %']], index = SP.index)
SP_final = SP[:5].reset_index()
SP_final

,Date,High,Low,Open,Close,Volume,Adj Close,Trade Date,Stock,Mov $,Mov %
0,2018-08-23,2868.780029,2854.030029,2860.290039,2856.979980,1653913646,2856.979980,T-0,SP,-4.84,-0.17%
1,2018-08-22,2867.540039,2856.050049,2860.989990,2861.820068,2689560000,2861.820068,T-1,SP,-1.14,-0.04%
2,2018-08-21,2873.229980,2861.320068,2861.510010,2862.959961,3147140000,2862.959961,T-2,SP,5.91,0.21%
3,2018-08-20,2859.760010,2850.620117,2853.929932,2857.050049,2748020000,2857.050049,T-3,SP,6.92,0.24%
4,2018-08-17,2855.629883,2833.729980,2838.320068,2850.129883,3024100000,2850.129883,T-4,SP,9.44,0.33%

In [4]:
# Movement $ = Adj Close(2018-08-14) - Adj Close(2018-08-13)
SP_final['Mov $']

0   -4.84
1   -1.14
2    5.91
3    6.92
4    9.44
Name: Mov $, dtype: float64

In [5]:
SP_final['Adj Close']

0    2856.979980
1    2861.820068
2    2862.959961
3    2857.050049
4    2850.129883
Name: Adj Close, dtype: float64

In [6]:
# make it lags for one business day
SP_final['Adj Close'].shift(-1)

0    2861.820068
1    2862.959961
2    2857.050049
3    2850.129883
4            NaN
Name: Adj Close, dtype: float64

In [7]:
# Movement % = (Adj Close(2018-08-14) - Adj Close(2018-08-13)) / Adj Close(2018-08-13)
SP_final['Mov $']/SP_final['Adj Close'].shift(-1)

0   -0.001691
1   -0.000398
2    0.002069
3    0.002428
4         NaN
dtype: float64

# TSLA

In [8]:
# get stock price of today and last five business days
TSLA = web.DataReader('TSLA', 'yahoo', lastBusDay, today)
TSLA['Trade Date'] = ['T-5', 'T-4', 'T-3', 'T-2', 'T-1', 'T-0']
TSLA['Stock'] = "TSLA"
TSLA = TSLA.iloc[::-1]
# generate dollar value of movement between adjacent business days
TSLA['Mov $'] = round(-TSLA['Adj Close'].diff().shift(-1), 2)
# generate percentage of movement between adjacent business days
TSLA['Mov %'] = TSLA['Mov $']/TSLA['Adj Close'].shift(-1)
TSLA['Mov %'] = pd.Series(["{0:.2f}%".format(X * 100) for X in TSLA['Mov %']], index = TSLA.index)
# movement percentage get rid of market fluctuation
TSLA['Mov_noSP %'] = TSLA['Mov $']/TSLA['Adj Close'].shift(-1) - SP['Mov $']/SP['Adj Close'].shift(-1)
TSLA['Mov_noSP %'] = pd.Series(["{0:.2f}%".format(X * 100) for X in TSLA['Mov_noSP %']], index = TSLA.index)
TSLA_final = TSLA[:5].reset_index()
TSLA_final

,Date,High,Low,Open,Close,Volume,Adj Close,Trade Date,Stock,Mov $,Mov %,Mov_noSP %
0,2018-08-23,327.299988,318.106506,319.140015,320.100006,4912126,320.100006,T-0,TSLA,-1.54,-0.48%,-0.31%
1,2018-08-22,323.880005,314.670013,320.869995,321.640015,5939000,321.640015,T-1,TSLA,-0.26,-0.08%,-0.04%
2,2018-08-21,324.790009,309.000000,310.609985,321.899994,13172200,321.899994,T-2,TSLA,13.46,4.36%,4.16%
3,2018-08-20,308.500000,288.200012,291.700012,308.440002,17402300,308.440002,T-3,TSLA,2.94,0.96%,0.72%
4,2018-08-17,326.769989,303.529999,323.500000,305.500000,18958600,305.500000,T-4,TSLA,-29.95,-8.93%,-9.26%

# GOOG

In [9]:
# get stock price of today and last five business days
GOOG = web.DataReader('GOOG', 'yahoo', lastBusDay, today)
GOOG['Trade Date'] = ['T-5', 'T-4', 'T-3', 'T-2', 'T-1', 'T-0']
GOOG['Stock'] = "GOOG"
GOOG = GOOG.iloc[::-1]
# generate dollar value of movement between adjacent business days
GOOG['Mov $'] = round(-GOOG['Adj Close'].diff().shift(-1), 2)
# generate percentage of movement between adjacent business days
GOOG['Mov %'] = GOOG['Mov $']/GOOG['Adj Close'].shift(-1)
GOOG['Mov %'] = pd.Series(["{0:.2f}%".format(X * 100) for X in GOOG['Mov %']], index = GOOG.index)
# movement percentage get rid of market fluctuation
GOOG['Mov_noSP %'] = GOOG['Mov $']/GOOG['Adj Close'].shift(-1) - SP['Mov $']/SP['Adj Close'].shift(-1)
GOOG['Mov_noSP %'] = pd.Series(["{0:.2f}%".format(X * 100) for X in GOOG['Mov_noSP %']], index = GOOG.index)
GOOG_final = GOOG[:5].reset_index()
GOOG_final

,Date,High,Low,Open,Close,Volume,Adj Close,Trade Date,Stock,Mov $,Mov %,Mov_noSP %
0,2018-08-23,1221.280029,1204.239990,1207.140015,1205.380005,874756,1205.380005,T-0,GOOG,-1.95,-0.16%,0.01%
1,2018-08-22,1211.839966,1199.000000,1200.000000,1207.329956,881600,1207.329956,T-1,GOOG,5.71,0.48%,0.52%
2,2018-08-21,1217.260010,1200.354004,1208.000000,1201.619995,1205600,1201.619995,T-2,GOOG,-6.15,-0.51%,-0.72%
3,2018-08-20,1211.000000,1194.625977,1205.020020,1207.770020,870800,1207.770020,T-3,GOOG,6.81,0.57%,0.32%
4,2018-08-17,1209.020020,1188.239990,1202.030029,1200.959961,1389600,1200.959961,T-4,GOOG,-5.53,-0.46%,-0.79%

# AAPL

In [10]:
# get stock price of today and last five business days
AAPL = web.DataReader('AAPL', 'yahoo', lastBusDay, today)
AAPL['Trade Date'] = ['T-5', 'T-4', 'T-3', 'T-2', 'T-1', 'T-0']
AAPL['Stock'] = "AAPL"
AAPL = AAPL.iloc[::-1]
# generate dollar value of movement between adjacent business days
AAPL['Mov $'] = round(-AAPL['Adj Close'].diff().shift(-1), 2)
# generate percentage of movement between adjacent business days
AAPL['Mov %'] = AAPL['Mov $']/AAPL['Adj Close'].shift(-1)
AAPL['Mov %'] = pd.Series(["{0:.2f}%".format(X * 100) for X in AAPL['Mov %']], index = AAPL.index)
# movement percentage get rid of market fluctuation
AAPL['Mov_noSP %'] = AAPL['Mov $']/AAPL['Adj Close'].shift(-1) - SP['Mov $']/SP['Adj Close'].shift(-1)
AAPL['Mov_noSP %'] = pd.Series(["{0:.2f}%".format(X * 100) for X in AAPL['Mov_noSP %']], index = AAPL.index)
AAPL_final = AAPL[:5].reset_index()
AAPL_final

,Date,High,Low,Open,Close,Volume,Adj Close,Trade Date,Stock,Mov $,Mov %,Mov_noSP %
0,2018-08-23,217.042801,214.600006,214.649994,215.490005,16681610,215.490005,T-0,AAPL,0.44,0.20%,0.37%
1,2018-08-22,216.360001,213.839996,214.100006,215.050003,18968800,215.050003,T-1,AAPL,0.01,0.00%,0.04%
2,2018-08-21,217.190002,214.029999,216.800003,215.039993,26159800,215.039993,T-2,AAPL,-0.42,-0.19%,-0.40%
3,2018-08-20,219.179993,215.110001,218.100006,215.460007,30287700,215.460007,T-3,AAPL,-2.12,-0.97%,-1.22%
4,2018-08-17,217.949997,213.160004,213.440002,217.580002,35427000,217.580002,T-4,AAPL,4.26,2.00%,1.66%

# AMZN

In [11]:
# get stock price of today and last five business days
AMZN = web.DataReader('AMZN', 'yahoo', lastBusDay, today)
AMZN['Trade Date'] = ['T-5', 'T-4', 'T-3', 'T-2', 'T-1', 'T-0']
AMZN['Stock'] = "AMAZ"
AMZN = AMZN.iloc[::-1]
# generate dollar value of movement between adjacent business days
AMZN['Mov $'] = round(-AMZN['Adj Close'].diff().shift(-1), 2)
# generate percentage of movement between adjacent business days
AMZN['Mov %'] = AMZN['Mov $']/AMZN['Adj Close'].shift(-1)
AMZN['Mov %'] = pd.Series(["{0:.2f}%".format(X * 100) for X in AMZN['Mov %']], index = AMZN.index)
# movement percentage get rid of market fluctuation
AMZN['Mov_noSP %'] = AMZN['Mov $']/AMZN['Adj Close'].shift(-1) - SP['Mov $']/SP['Adj Close'].shift(-1)
AMZN['Mov_noSP %'] = pd.Series(["{0:.2f}%".format(X * 100) for X in AMZN['Mov_noSP %']], index = AMZN.index)
AMZN_final = AMZN[:5].reset_index()
AMZN_final

,Date,High,Low,Open,Close,Volume,Adj Close,Trade Date,Stock,Mov $,Mov %,Mov_noSP %
0,2018-08-23,1919.500000,1900.973755,1907.170044,1902.900024,3371077,1902.900024,T-0,AMAZ,-2.00,-0.10%,0.06%
1,2018-08-22,1905.800049,1876.640015,1876.640015,1904.900024,3064700,1904.900024,T-1,AMAZ,21.48,1.14%,1.18%
2,2018-08-21,1897.750000,1874.410034,1880.000000,1883.420044,3105600,1883.420044,T-2,AMAZ,6.71,0.36%,0.15%
3,2018-08-20,1891.750000,1866.060059,1890.569946,1876.709961,2862000,1876.709961,T-3,AMAZ,-5.51,-0.29%,-0.54%
4,2018-08-17,1888.000000,1855.550049,1885.800049,1882.219971,4104300,1882.219971,T-4,AMAZ,-4.30,-0.23%,-0.56%

# FB

In [12]:
# get stock price of today and last five business days
FB = web.DataReader('FB', 'yahoo', lastBusDay, today)
FB['Trade Date'] = ['T-5', 'T-4', 'T-3', 'T-2', 'T-1', 'T-0']
FB['Stock'] = "FB"
FB = FB.iloc[::-1]
# generate dollar value of movement between adjacent business days
FB['Mov $'] = round(-FB['Adj Close'].diff().shift(-1), 2)
# generate percentage of movement between adjacent business days
FB['Mov %'] = FB['Mov $']/FB['Adj Close'].shift(-1)
FB['Mov %'] = pd.Series(["{0:.2f}%".format(X * 100) for X in FB['Mov %']], index = FB.index)
# movement percentage get rid of market fluctuation
FB['Mov_noSP %'] = FB['Mov $']/FB['Adj Close'].shift(-1) - SP['Mov $']/SP['Adj Close'].shift(-1)
FB['Mov_noSP %'] = pd.Series(["{0:.2f}%".format(X * 100) for X in FB['Mov_noSP %']], index = FB.index)
FB_final = FB[:5].reset_index()
FB_final

,Date,High,Low,Open,Close,Volume,Adj Close,Trade Date,Stock,Mov $,Mov %,Mov_noSP %
0,2018-08-23,175.539993,172.830002,173.089996,172.899994,16831267,172.899994,T-0,FB,-0.74,-0.43%,-0.26%
1,2018-08-22,174.240005,172.130005,172.210007,173.639999,16770400,173.639999,T-1,FB,1.02,0.59%,0.63%
2,2018-08-21,174.169998,171.389999,172.809998,172.619995,19578500,172.619995,T-2,FB,0.12,0.07%,-0.14%
3,2018-08-20,174.570007,170.910004,174.039993,172.500000,21518000,172.500000,T-3,FB,-1.30,-0.75%,-0.99%
4,2018-08-17,176.220001,172.039993,174.500000,173.800003,24893200,173.800003,T-4,FB,-0.90,-0.52%,-0.85%

# MSFT

In [13]:
# get stock price of today and last five business days
MSFT = web.DataReader('MSFT', 'yahoo', lastBusDay, today)
MSFT['Trade Date'] = ['T-5', 'T-4', 'T-3', 'T-2', 'T-1', 'T-0']
MSFT['Stock'] = "MSFT"
MSFT = MSFT.iloc[::-1]
# generate dollar value of movement between adjacent business days
MSFT['Mov $'] = round(-MSFT['Adj Close'].diff().shift(-1), 2)
# generate percentage of movement between adjacent business days
MSFT['Mov %'] = MSFT['Mov $']/MSFT['Adj Close'].shift(-1)
MSFT['Mov %'] = pd.Series(["{0:.2f}%".format(X * 100) for X in MSFT['Mov %']], index = MSFT.index)
# movement percentage get rid of market fluctuation
MSFT['Mov_noSP %'] = MSFT['Mov $']/MSFT['Adj Close'].shift(-1) - SP['Mov $']/SP['Adj Close'].shift(-1)
MSFT['Mov_noSP %'] = pd.Series(["{0:.2f}%".format(X * 100) for X in MSFT['Mov_noSP %']], index = MSFT.index)
MSFT_final = MSFT[:5].reset_index()
MSFT_final

,Date,High,Low,Open,Close,Volume,Adj Close,Trade Date,Stock,Mov $,Mov %,Mov_noSP %
0,2018-08-23,108.180000,106.870003,107.150002,107.559998,15481676.0,107.559998,T-0,MSFT,0.50,0.47%,0.64%
1,2018-08-22,107.339996,105.779999,105.849998,107.059998,17881000.0,107.059998,T-1,MSFT,1.08,1.02%,1.06%
2,2018-08-21,107.349998,105.849998,106.919998,105.980003,22881900.0,105.980003,T-2,MSFT,-0.89,-0.83%,-1.04%
3,2018-08-20,107.900002,106.480003,107.510002,106.870003,17914200.0,106.870003,T-3,MSFT,-0.71,-0.66%,-0.90%
4,2018-08-17,107.900002,106.690002,107.360001,107.580002,18061500.0,107.580002,T-4,MSFT,-0.06,-0.06%,-0.39%

# Consolidation

In [14]:
conso = pd.concat([TSLA_final, GOOG_final, AAPL_final, AMZN_final, FB_final, MSFT_final]).reindex()
conso = conso[['Stock', 'Date', 'Mov_noSP %',]].reindex().rename(columns={'Stock':'Ticker', 'Date':'DateForm', 'Mov_noSP %':'Price Movement'})
conso['DateForm'] = pd.to_datetime(conso['DateForm']).astype(str)
title = 'StockPrice'+ datetime.datetime.now().strftime('%Y-%m-%d') +'.csv'
conso.to_csv(title, encoding='utf-8-sig', index=False)
conso.head()

  Ticker    DateForm Price Movement
0   TSLA  2018-08-23         -0.31%
1   TSLA  2018-08-22         -0.04%
2   TSLA  2018-08-21          4.16%
3   TSLA  2018-08-20          0.72%
4   TSLA  2018-08-17         -9.26%

# Merge to Articles Data Frame

In [15]:
df = pd.read_csv("WSJoutput11.csv", header = None, encoding = "ISO-8859-1")
df.columns = ['Ticker','Date','Title','Link','Text']
df.head()

,Ticker,Date,Title,Link,Text
0,TSLA,8/22/18 16:46,Elon MuskÍs Tesla Claim Could Land Him in Regu...,https://www.wsj.com/articles/elon-musks-tesla-...,NaN
1,TSLA,8/22/18 16:41,Skepticism over Elon MuskÍs ïspecial purpose f...,http://www.marketwatch.com/story/skepticism-ov...,A number of bankers and private-equity investo...
2,TSLA,8/22/18 16:34,Musk Says in Tweet He Is Considering Taking Te...,https://www.wsj.com/articles/elon-musks-twitte...,NaN
3,TSLA,8/7/18 16:23,Tesla short sellers walloped after Musk talks ...,http://www.marketwatch.com/story/tesla-short-s...,Investors betting on a Tesla Inc. slide faced ...
4,TSLA,NaN,A Tesla buyout would be the largest in history...,http://www.marketwatch.com/story/a-tesla-buyou...,A potential deal to take Tesla Inc. private wo...

In [16]:
df['DateForm'] = pd.to_datetime(df['Date']).astype(str).str[0:10]
new_df = pd.merge(left=df, right=conso, how='left', on=['Ticker','DateForm'])
new_df.drop('DateForm', axis=1)

,Ticker,Date,Title,Link,Text,Price Movement
0,TSLA,8/22/18 16:46,Elon MuskÍs Tesla Claim Could Land Him in Regu...,https://www.wsj.com/articles/elon-musks-tesla-...,NaN,-0.04%
1,TSLA,8/22/18 16:41,Skepticism over Elon MuskÍs ïspecial purpose f...,http://www.marketwatch.com/story/skepticism-ov...,A number of bankers and private-equity investo...,-0.04%
2,TSLA,8/22/18 16:34,Musk Says in Tweet He Is Considering Taking Te...,https://www.wsj.com/articles/elon-musks-twitte...,NaN,-0.04%
3,TSLA,8/7/18 16:23,Tesla short sellers walloped after Musk talks ...,http://www.marketwatch.com/story/tesla-short-s...,Investors betting on a Tesla Inc. slide faced ...,NaN
4,TSLA,NaN,A Tesla buyout would be the largest in history...,http://www.marketwatch.com/story/a-tesla-buyou...,A potential deal to take Tesla Inc. private wo...,NaN
5,TSLA,8/7/18 15:21,Did Elon Musk break any laws with his going-pr...,http://www.marketwatch.com/story/did-elon-musk...,Even for a CEO with a reputation for making od...,NaN
6,TSLA,8/7/18 15:21,Experts Cast Doubt on MuskÍs Envisioned Buyout...,https://www.wsj.com/articles/experts-cast-doub...,NaN,NaN
7,TSLA,8/7/18 15:21,TeslaÍs Go-Private Dream DoesnÍt Add Up,https://www.wsj.com/articles/teslas-go-private...,NaN,NaN
8,TSLA,8/7/18 14:21,"Tesla confirms intention to go private, sendin...",http://www.marketwatch.com/story/tesla-confirm...,"Tesla Inc., which went from a scrappy Silicon ...",NaN
9,TSLA,8/7/18 14:21,Elon Musk lights up the internet and investors...,http://www.marketwatch.com/story/elon-musk-lig...,The question wafting across the internet Tuesd...,NaN
10,GOOG,8/7/18 13:21,Growth or value stocks? These companies may pr...,http://www.marketwatch.com/story/growth-or-val...,After shares of Netflix and Facebook took a be...,NaN
11,GOOG,8/7/18 9:21,Money flows of 11 popular tech stocks show Alp...,http://www.marketwatch.com/story/money-flows-o...,The stock market today is controlled by the mo...,NaN
12,GOOG,8/6/18,"Facebook removes Infowars pages, following App...",http://www.marketwatch.com/story/facebook-remo...,Facebook Inc. and Alphabet Inc.Ís YouTube on M...,NaN
13,GOOG,8/4/18,These 10 companies have recently raised their ...,http://www.marketwatch.com/story/these-10-comp...,The pace of dire warnings in the stock market ...,NaN
14,GOOG,8/4/18,Weekly roundup: AppleÍs trillion | Musk rallie...,http://www.marketwatch.com/story/weekly-roundu...,MarketWatch rounds up 10 of its most interesti...,NaN
15,GOOG,8/3/18,"10 stocks in the S&P 500, including Apple, jus...",http://www.marketwatch.com/story/10-stocks-in-...,MarketWatch writer and newsletter publisher Mi...,NaN
16,GOOG,8/2/18,Bull market in stocks could be in ïlast inning...,http://www.marketwatch.com/story/bull-market-i...,A long-running bull market in stocks may be ab...,NaN
17,GOOG,8/1/18,Google said to consider censored search engine...,http://www.marketwatch.com/story/google-said-t...,Google is testing a mobile version of its sear...,NaN
18,GOOG,8/1/18,AppleÍs home run and FacebookÍs whiff show wis...,http://www.marketwatch.com/story/apples-home-r...,"So Apple beat its earnings forecasts, and as I...",NaN
19,GOOG,8/1/18,Gamification Unleashes Big Data and Bigger Mar...,http://www.wsj.com/articles/PR-CO-20180801-911798,NaN,NaN